@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Krona One', sans-serif;
}
body {
  background-color: black;
}
.hero {
  
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}
.rojo {
  color: red;
}
.hero1 {
  
  height: 300vh;
}